.page-wrapper {
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #313131;
}

.nav-logo {
    display: inline-block;
    text-decoration: none;
    margin-left: 27px;
    margin-top: 25px;

}

.logo__link {
    display: flex;
    justify-content: space-between;
    width: 160px;
    font-weight: bolder;
}

.nav-logo a {
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    color: #FFFFFF;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    height: 70px;
    padding-left: 30px;
}

.nav__item {
    text-align: center;
    padding: 28px 36px;
    font-size: 15px;
}


.nav-menu a {
    text-decoration: none;
    color: #FFFFFF;

}

.nav__item a:hover{
    color: #18B4CF;
}

.nav-search {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: black;
    align-items: center;
    justify-content: center;

}

.head__banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background: url("../img/headbanner.png");
    width: 100%;
    height: fit-content;
    background-attachment: fixed;
}

.head__slogan {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    height: 130px;
}


.button {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 74px 0 40px;
}

.button__item__green {
    background-color: #89CA62;
    border: none;
    color: white;
    padding: 17px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button__item__blue {
    background-color: #14B9D5;
    border: none;
    color: white;
    padding: 17px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.section__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    padding-bottom: 52px;
}

.section__title h2 {
    font-style: normal;
    font-weight: bolder;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}

.container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: center;
    height: fit-content;
}

.container a {
    text-decoration: none;
    color: #000000;
}

.container__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 33.3%;
}

.column__item {
    padding-bottom: 31px;
}

.column__item p {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px 15px;
}

.column__item a {
    text-decoration: none;
}

.main__banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: url("../img/main-banner.png");
    width: 100%;
    height: 588px;
    background-attachment: fixed;
}

.head__main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    height: 45px;
}

.line {
    height: 2px;
    width: 60px;
    background-color: #18B4CF;
}


.brands {
    display: grid;
    grid-auto-rows: minmax(70px, auto);
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    min-height: 150px;
    align-content: space-around;
    justify-items: center;
    align-items: end;
}

.brand__item {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.gallery__bar {
    width: 100%;
}

.latest__posts__gallery {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(2, 5vw);
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--5 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--6 {
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--7 {
    grid-column-start: 13;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}

.news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.news__emirate {
    grid-area: 1 / 1 / 2 / 4;
}

.news__nebula__spain {
    grid-area: 1 / 4 / 2 / 5;
}

.news__egypt {
    grid-area: 2 / 1 / 3 / 3;
}

.news__maldives {
    grid-area: 2 / 3 / 3 / 5;
}

.news__tenerife {
    grid-area: 3 / 1 / 4 / 3;
}

.news__gb {
    grid-area: 3 / 3 / 4 / 5;
}

.news__ireland {
    grid-area: 4 / 1 / 5 / 2;
}

.news__king__spain {
    grid-area: 4 / 2 / 5 / 5;
}

.news__emirate {
    display: flex;
    height: fit-content;

}

.news__king__spain {
    display: flex;
    height: fit-content;
}

.news__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}

.news__item {
    background: #F9F7F7;

}


.news__text {
    font-size: 14px;
    text-align: right;
    line-height: 20px;

}

.news__text h3 {
    font-size: 16px;
    font-weight: 600;
}


.news__img {
    width: 100%;
}

.footer__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    margin-top: 77px;
    background-color: #000000;
}

.copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.sub {
    color: #FFFFFF;
    font-size: 13px;
}

.footer__logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__logo__link {
    display: flex;
    justify-content: flex-end;
}

