*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 31.5px;
    margin-top: 31.5px;

}

.header__nav {
    text-align: center;
    height: 15px;

}

.header__nav-menu {
    display: inline-block;
}

.header__nav-menu__item {
    display: inline-block;
}

.header__nav-menu__link {
    text-transform: uppercase;
    color: red;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.header__nav-menu__link {
    margin-right: 72px;
}

.banner {
    width: 1280px;
    margin: 0 auto;
}

.title {
    width: 100%;
    height: 29px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 38px;
    margin-bottom: 38px;
    color: #373737;
}

.p_first {
    width: 100%;
    height: 132px;
    margin-top: 38px;
    margin-bottom: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    padding: 1px 65px;
    color: #373737;
}

.p_second {
    width: 100%;
    height: 216px;
    font-family: Montserrat;
    padding: 1px 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.start-button {
    width: 191px;
    height: 51px;
    margin-top: 66px;
    background: #FF0000;
    border-radius: 4px;
    margin-left: 544.5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 20px;
}

.copyright {
    width: 100%;
    height: 39px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding-right: 105px;
    text-align: end;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 99px;
}