.page__wrapper{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    background: url("../img/background__p.png");
    height: 400px;
}

.head__items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    margin: 0 auto;
    padding-top: 18px;
    padding-left: 20px;
    border: #FFFFFF solid;
}

.logo h1{
    color: #FFFFFF;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 40px;



}