.page-wrapper {
    width: 1366px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: url("../img/background.png");
}


.head__items {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
}

.logo {
    width: 400px;
    display: inline-block;
}

.logo h1 {
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}

.logo span {
    display: flex;
    font-size: 29px;
    line-height: 29px;
}

.logo:hover h1 {
    color: #F26522;
}

.logo img.white {
    display: inline-block;
}

.logo img.orange {
    display: none;
}

.logo:hover img.white {
    display: none;
}

.logo:hover img.orange {
    display: inline-block;
}

.logo a {
    text-decoration: none;
}

.contacts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 400px;
    text-align: end;
}

a.contact__link {
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
}


a:hover {
    color: #F26522;
}

.main__content {
    width: 1030px;
    height: auto;
    margin: 20px auto;
}

.content__row {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.content__row__item {
    width: 300px;
    height: 100%;
}

.item__main {
    position: relative;
    width: 100%;
    height: 220px;
}

.item__main img {
    width: 100%;
    height: 100%;
}

.item__price {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 55px;
    background-color: #F26522;
    visibility: hidden;
    color: #FFFFFF;
}

.price {
    color: #FFFFFF;
    height: 100%;
    width: auto;
    margin-left: 18px;
    font-size: 10px;
    line-height: 25px;
    text-decoration: none;
}

.price p {
    text-decoration: none;
}

.price span {
    font-size: 20px;
    text-decoration: none;
}

.details {
    height: 100%;
    width: auto;
}

.details a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    line-height: 72px;
}

.details:after {
    content: ">";
    margin-left: 16px;
    margin-right: 14px;
}

.item__description a {
    text-decoration: none;
}


.content__row__item:hover .item__main .item__price {
    visibility: visible;
}

.content__row__item:hover .item__description span {
    color: #F26522;
}

.item__description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
}

.content__row a {
    text-decoration: none;
}

.item__description span {
    color: #FFFFFF;
    font-size: 18px;
}

.copyright {
    display: block;
    text-align: center;
    color: #FFFFFF;
}



