
.page-wrapper {
    margin: 0 auto;
    width: 1280px;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 100%;
    height: auto;
}

.logo a {
    width: auto;
    height: auto;
    font-size: 80px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 94px;
    color: #000000;
}

.logo a span {
    color: #5bbde1;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #35444F;
    height: 72px;
    width: 100%;
    color: #FFFFFF;
}

.navigation__item {
    text-align: center;
    padding: 20px 32px;
    font-size: 24px;
    line-height: 40px;
    border-right: 1px solid #FFFFFF;
}

.navigation__item:hover {
    background-color: #222F3A;
}

.navigation__item:first-child {
    border-left: 1px solid #FFFFFF;
}

.navigation__item a {
    color: #FFFFFF;
    text-decoration: none;
}

main {
    margin: 48px 0;
}

.left__side__nav {
    width: 344px;
    height: auto;
    border: 1px solid #000000;
    float: left;
    margin-top: 48px;
}

.right__side {
    width: 885px;
    height: auto;
    float: right;
    margin: 0 auto;
}

.right__side__img {
    width: auto;
    height: 529px;
    border: 1px solid #000000;
}


.displayed {
    display: block;
    margin: 75px 268px;
}

.displayed:hover {
    transform: scale(1.2);
}

.right__side__text {
    width: auto;
    height: auto;
    align-items: center;
}

.text {
    width: 885px;
    height: auto;
    font-size: 18px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: #000000;
    padding-top: 32px;
    padding-bottom: 30px;

}

.left__side__item {
    width: 342px;
    height: 81px;
    text-align: left;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.left__side__item:hover {
    background-color: #DBDBDB;
    color: #000000;
}

.left__side__item a {
    padding: 27px 40px 27px 40px;
    line-height: 70px;
    text-decoration: none;
    color: #495863;
}

.left__side__item:hover a {
    margin-left: 60px;
    color: #000000;
}

.footer__items {
    display: flex;
    width: 1280px;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
}


.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 875px;
    margin-top: 20px;
    margin-bottom: 21px;

}

.footer__nav__item a {
    display: inline;
    text-align: center;
    font-size: 28px;
    padding-left: 20px;
    text-decoration: none;
    color: #0C1927;
}

.footer__nav__item:hover a {
    text-decoration: underline;
    color: #5bbde1;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 190px;
    margin-left: 135px;
}

.sub {
    display: inline;
    align-items: center;
    font-size: 24px;
    padding-left: 2px;
    text-decoration: none;
    color: #0C1927;
}




